* {
    box-sizing: border-box;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid; */
}

body {
    background-color: whitesmoke;
}

header {
    text-align: center;
    font-size: 15px;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0px;
}

.bookshelf {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.book-display {
    display: flex;
    width: 600px;
    height: 100px;
    margin-bottom: 15px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    transition: height 1s;
}

.book-display-active {
    height: 300px;
    transition: height 1s;
}

.book-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-left: 20px;

}

.book-info p {
    width: 330px;
    margin-bottom: 3px;
}

.title {
    font-weight: 800;
    font-size: larger;
}

.synopsis {
    margin: 15px 0;
    width: auto;
}

.cover {
    width: 75px;
    height: 100px;
    border-radius: 4px;
    transition: width 1s, height 1s;
    /* transform: scale(1.2) translate(20%, -20%); */
}

.coverOnFocus {
    width: 230px;
    height: 300px;
    transition: width 1s, height 1s;
}

.pages, .readStatus {
    font-style: italic;
}
.deleteBook {
    font-weight: 800;
    font-size: larger;
    height: 30px;
    color: rgb(167, 24, 24);
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

.side-bar {
    height: 450px;
    margin-left: 25px;
    background-color: white;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

form>div{
    width: auto;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    .bookshelf {
        margin-bottom: 30px;
    }
}

/* FORM VALIDATION */

input.invalid {
 border: solid 1px red;
 background-color: plum;
}

.error {
    color: palevioletred;
    border-radius: 5px;
}

.error-active {
    background-color: red;
    color: white;
}